
:root{ /*criando variaveis globais*/
    --white-color: #ffffff; 
    --primary-color: #ff7161;
    --secondary-color: #99e599;
    --menu-color: #eeeeee;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

/* fontes que eu utilizei 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
html{
    font-size: 62.5%;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    text-transform: uppercase; /*deixa em letra maiuscula*/
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase; /*letra maiuscula*/
    line-height: 1.2;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
}

a{
    text-decoration: none;
}

p{
    margin-bottom: 3rem;
}

.main-fundo2{
    background-image: url('../img/fundo2.svg');
    background-size: cover;
    background-position: center center; /*ajuste de background*/
    color: var(--white-color); /*cor da fonte*/
}

.white-fundo2{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 65px;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--menu-color);
}

.menu-content{ /*menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;

}

.menu ul{ /*lista do menu*/
    list-style: none;
    display: flex;
}

.menu ul li a{ /*lista do menu*/
    display: block;
    padding: 2rem;
    font-size: 1,8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.inicio-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.inicio-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-img img{
    max-width: 100%;
    height: auto;
    margin-top: 27rem;
}

.promocao-content{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.marcas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    margin-left: 2rem;
    margin-top: 10rem;
}

.marcas-v h2{
    text-align: center;
}

.marcas-v p{
    text-align: center;
}

.marcas-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.marcas-img img{
    transition: all 300ms ease-in-out;
}

.marcas-img img:hover{
    transform: translate(-3%, 3%)  scale(1) ;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    margin-top: 10rem;
}

.produtos-v h2{
    text-align: center;
}

.produtos-v p{
    text-align: center;
}

.produtos-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.produtos-img img{
    transition: all 300ms ease-in-out;
}

.produtos-img img:hover{
    transform: translate(-3%, 3%)  scale(1) ;
}

.contato-content{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.footer{
    text-align: center;
    font-size: 1.6rem;
}

.footer a{
    color: #444;
}

.heart{
    color: red;
}

.footer p{
    margin: 0;
    padding: 3rem;
}

.close-menu{
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

@media (max-width: 800px){
    .inicio-content, .promocao-content{
        grid-template-columns: 1fr;
    }

    .marcas-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .marcas-img img{
        width: 100%;
    }

    .produtos-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .produtos-img img{
        width: 100%;
    }

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing{
        display: none;
    }
}